@import "../../../../../styles/_mixins.css";

.StepSelectAccount {
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      width: 45%;
    }

    .Spinner {
      min-height: 25px;
    }

    .Bank {
      line-height: 36px;
    }

    .Button {
      margin-top: 25px;
    }
  }
}

@mixin phone {
  .StepSelectAccount {
    .Row {
      flex-direction: column;
      justify-content: inherit;

      > div {
        width: 100%;
      }

      .Bank {
        line-height: normal;
      }
    }
  }
}