@import "../../../../styles/_variables.css";

.Button {
  display: flex;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lato', sans-serif;
  max-height: 42px;

  &.Primary {
    color: #392a6b;
    background: #ffc705;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #392a6b;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 1px;

    &:not(:disabled):hover {
      background-color: #ebb600;
    }

    &:not(:disabled):active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    use {
      stroke: $color-primary;
    }

    &.Disabled {
      color: #a29bb5;
      background: #e5e4e4;
      border: 1px solid #c1c1c1;

      use {
        stroke: #a29bb5;
      }
    }
  }

  &.Secondary {
    min-height: 40px;
    border: 2px solid #392a6b;
    background: #ffffff;
    border-radius: 6px;
    text-decoration: none;
    color: #392a6b;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 20px;
    white-space: nowrap;
    line-height: 12px;

    use {
      stroke: $color-primary;
    }

    &:not(:disabled):hover {
      color: #ffffff;
      background-color: #392a6b;

      use {
        stroke: #ffffff;
      }
    }

    &.Disabled {
      opacity: 0.6;
      border: 2px solid #a29bb5;
      color: #a29bb5;

      use {
        stroke: #a29bb5;
      }
    }
  }

  &.Link {
    font-size: 13px;
    color: #464646;
    letter-spacing: 0.6px;

    > svg {
      stroke: #464646;

      use {
        stroke: #464646;
      }
    }

    &:hover {
      color: #392a6b;

      svg {
        stroke: #392a6b;

        use {
          stroke: #392a6b;
        }
      }
    }
  }

  .Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .Label {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
