.NotFoundPage {
  .ErrorSection {
    text-align: center;
    margin: 150px 0 250px;

    .Number {
      color: #392a6b;
      font-size: 100px;
      font-weight: 700;
      line-height: 120px;
    }

    .Description {
      color: #392a6b;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      text-transform: uppercase;
    }

    .Text {
      margin-top: 30px;
      color: #464646;
      font-size: 17px;
      line-height: 25px;
    }

    .GoBack {
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
  }
}