.Option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  font-size: 13px;
  font-family: Lato, sans-serif;

  &.Selected {
     background-color: #cbc7d8;
     color: #262626;

    &:hover {
      color: #262626;
    }
  }

  &.Disabled {
    opacity: 0.3;
  }

  &:hover {
    color: #392a6b;
  }

  .Icon {
    width: 16px;
    height: 26px;
    float: right;

    svg {
      stroke: #464646;
    }
  }
}