@import "../../../../../styles/_mixins.css";

.StepFinish {
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }
}

@mixin phone {
  .StepFinish {
    .Row {
      flex-direction: column;
      justify-content: inherit;
    }
  }
}