.Tile {
  max-width: 614px;
  width: 100%;
  background: #fff;
  margin: 0 auto 16px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  padding: 16px 24px;
  position: relative;
  min-height: 34px;
  border-radius: 5px;
  font-size: 17px;
  border: 1px solid #9b9b9b;
  display: inline-flex;
  flex-flow: column;
  z-index: 1;

  .CloseZone {
    position: absolute;;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .EyeBrow {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 10px;
    padding: 8px 0;
    margin-top: -16px;
  }
}