.Radio {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  color: #585858;
  font-size: 17px;
  font-family: Lato, sans-serif;
  font-weight: 200;

  &:last-child {
    margin-bottom: 0;
  }

  .RadioInput {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.RadioIndicator {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #979797;
  position: absolute;

  .Radio & {
    border-radius: 50%;
  }

  .Radio input:checked ~ & {
    background: #fff;
    border: 2px solid #392a6b;
  }

  &:after {
    content: '';
    position: absolute;
    display: none;

    .Radio input:checked ~ & {
      display: block;
    }

    .Radio & {
      left: 3px;
      top: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #392a6b;
    }
  }
}

.Label {
  opacity: 1;
  margin-left: 36px;
  margin-top: -1px;
  display: flex;
  align-items: center;
}

.Children {
  margin-left: 36px;
}