@import "../../../../styles/_variables.css";

.ToggleButton {
  .Label {
    line-height: 25px;
    width: 27px;
    padding: 0;
    border-radius: 0;
    color: #aaa;
    background-color: transparent;
    background-image: none;
    border: 1px solid #aaa;
    touch-action: manipulation;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    white-space: normal;
    user-select: none;

    &:not(:first-child) {
      margin-left: -1px;
    }

    &.Active {
       background-color: $color-primary;
       border-color: $color-primary;
       color: $color-white;
    }
  }

  .Radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
}