@import "../../../../../styles/_mixins.css";

.StepReselect {
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      width: 45%;
    }

    .Button {
      margin-top: 25px;
    }
  }
}

@mixin phone {
  .StepReselect {
    .Row {
      flex-direction: column;
      justify-content: inherit;

      > div {
        width: 100%;
      }
    }
  }
}