.ResetPasswordForm {
  margin: 30px 0;

  .Instruction {
    margin: 0 0 20px;
  }

  .SendButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    vertical-align: middle;
  }
}
